<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <style>
  
  
  .container{
  display: grid;
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  }
  
  
  
   
  .table{
  grid-column:1/ 2;
  grid-row: 2;
  
  }
  
  .saldo{
    color:blue;
    font-weigth:600;
    font-size:20px;
  }

   
  
  </style>
  <body>
  <div class="container">
  <!--MENU-->
 

<!--FORMULARIO<div class="image-overlay op-green"></div>-->
   <div class="img-container">
    
    
</div>


<!--Comienza la tabla interactiva con buscador y paginacion-->
<table class="table" data-role="table">
    <thead><!--CABEZERAS-->
    <tr><!--FILAS-->
        
        <th data-cls-column="bg-white fg-black text-left" >Nombre</th>
       
        <th data-cls-column="bg-white fg-black text-center">Saldo Ahorro</th>
        
    </tr>
    </thead>
    <tbody><!--CUERPO DE LA TABLA-->
     <? for(i=0; i <rangoData.length;i++){
        ?>
         <tr><!--FILAS-->
        <td><?= rangoData[i][0] ?></td>
        <td>$<?= rangoData[i][1] ?></td>
        
               
        
        </tr>
        <?} ?>  
   
       
   
    
    </tbody>
</table>

 <button class="button alert"  id="boton" onclick="cerrar()">Cerrar</button>
  <button class="button yellow"  id="boton" onclick="window.print()">Imprimir</button>
 

 
</div>  


 

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
  <script>
  
  function cerrar(e){
  google.script.host.close();
  
  };
  
   
  var html_content =    
    "<h4>Lista de casos con Ahorro</h4>" +
    " <h3>Saldo <?= ahorro ?></h3>" +
   "<h5> System by Roberto Ceratti </h5>" ;
  Metro.infobox.create(html_content,"success");
   
   
  </script>
 
  
</html>

